{% extends "base.jinja2" %}
{% block content %}

    <h3>Summary</h3>

    <table class="table">
            <thead>
                <tr>
                  <th>Region</th>
                  <th>Country</th>
                  <th>Location</th>
                  <th>Department</th>
                  <th>No of Employees</th>
                </tr>
            <tbody>
                {% for row in query_result %}
                <tr>
                    <td> {{ row['Region'] }} </a></td>
                    <td> {{ row['Country'] }} </td>
                    <td> {{ row['Location'] }} </td>
                    <td> {{ row['Department'] }} </td>
                    <td> {{ row['Employees'] }} </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>




{% endblock %}